{% extends "enroll/base.html" %}
{% load static %}

{% block title %}Dashboard Page{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-8 offset-2 mt-2">
        <h3 class="text-center alert alert-danger">Student Infromation</h3>

        <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Roll</th>
                  <th scope="col">Department</th>
                  <th scope="col">City</th>
                  <th scope="col">Email</th>
                  <th scope="col">Password</th>
                  <th scope="col">Action</th>
                </tr>
            </thead>

            <tbody>
                {% for stu in students %}
                  <tr>
                    <th scope="col">{{stu.id}}</th>
                    <td>{{stu.name}}</td>
                    <td>{{stu.roll}}</td>
                    <td>{{stu.department}}</td>
                    <td>{{stu.city}}</td>
                    <td>{{stu.email}}</td>
                    <td>{{stu.password}}</td>
                    <td>
                        <a href="{% url 'detaildata' stu.id %}" class="btn btn-primary btn-sm">Detail</a>
                        <a href="{% url 'updatedata' stu.id %}" class="btn btn-primary btn-sm">Edit</a>
                        <form action="{% url 'deletedata' stu.id %}" method="post" class="d-inline">
                          {% csrf_token %}
                          
                          <input type="submit" class="btn btn-warning btn-sm" value="Delete">
                        </form>
                        
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}